node_modules
*.DS_Store
dist
*.idea
/coverage
/.nyc_output
/.vscode
**credentials.json
/s4hana_pipeline
deployment/
srv/gen/
*.db
db/src/gen
generator-input/*.edmx
src/generated

# added by cds deploy
default-env.json
